## Project Phase 1 - Aviation Accident Data Integration
### Group 03:
- Tommaso Tragno - fc64699
- Manuel Cardoso - fc56274
- Chen Cheng - fc64872
- Cristian Tedesco - fc65149

#### Setup

In [5]:
import pandas as pd
import numpy as np
import json
import os
import requests

### 1. Load NTSB JSON Data

In [ ]:
PATH = 'data_sources/'
NTSB_DATA = 'ntsb-us-2003-2023.json'

with open(PATH+NTSB_DATA, "r", encoding="utf-8") as f:
    ntsb_raw_data = json.load(f)

# Each record is one accident/incident entry in a list
print(f"\n--- NTSB JSON loaded: {len(ntsb_raw_data)} total records found ---")

# Convert to a DataFrame (this will flatten top-level fields)
# For nested fields like "Vehicles", we might do a separate flatten later
df_ntsb = pd.json_normalize(ntsb_raw_data, 
                            meta=[
                                "Oid","MKey","Closed","CompletionStatus","HasSafetyRec",
                                "HighestInjury","IsStudy","Mode","NtsbNumber",
                                "OriginalPublishedDate","MostRecentReportType","ProbableCause",
                                "City","Country","EventDate","State","Agency","BoardLaunch",
                                "BoardMeetingDate","DocketDate","EventType","Launch","ReportDate",
                                "ReportNum","ReportType","AirportId","AirportName","AnalysisNarrative",
                                "FactualNarrative","PrelimNarrative","FatalInjuryCount","MinorInjuryCount",
                                "SeriousInjuryCount","InvestigationClass","AccidentSiteCondition",
                                "Latitude","Longitude","DocketOriginalPublishDate"
                            ],
                            record_path=["Vehicles"],  # This flattens out the 'Vehicles' array
                            record_prefix="Vehicles."
                           )

print("\n--- Flattened NTSB DataFrame (including Vehicles info): ---")

# Type Conversion
df_ntsb['EventDate'] = pd.to_datetime(df_ntsb['EventDate']).dt.tz_localize(None)
df_ntsb['User-ID'] = pd.to_numeric(df_ntsb['User-ID'], errors='coerce').fillna(0).astype(int)


df_ntsb = df_ntsb.map(lambda x: x.lower() if isinstance(x, str) else x) # make all appropriate values lowercase

# combines all injury counts to 1 column
df_ntsb['TotalInjuryCount'] = df_ntsb[['FatalInjuryCount', 'MinorInjuryCount', 'SeriousInjuryCount']].sum(axis=1)

# dropping unnecessary columns
df_ntsb.drop(columns=['AnalysisNarrative','FactualNarrative','PrelimNarrative','InvestigationClass','BoardLaunch'
                      ,'BoardMeetingDate','Launch','IsStudy','OriginalPublishedDate','DocketOriginalPublishDate'
                      ,'ReportType','ReportNum','ReportDate','MostRecentReportType','FatalInjuryCount','MinorInjuryCount'
                      ,'SeriousInjuryCount','DocketDate','Mode','HasSafetyRec','CompletionStatus','Closed'
                      ,'Vehicles.AircraftCategory','Vehicles.AmateurBuilt','Vehicles.EventID','Vehicles.AirMedical'
                      ,'Vehicles.AirMedicalType','Vehicles.flightScheduledType','Vehicles.flightServiceType'
                      ,'Vehicles.flightTerminalType','Vehicles.RegisteredOwner','Vehicles.RegulationFlightConductedUnder'
                      ,'Vehicles.RepGenFlag','Vehicles.RevenueSightseeing','Vehicles.SecondPilotPresent','Vehicles.Damage'
                      ], inplace=True) 

# dropping NaT entries from EventDate
df_ntsb = df_ntsb.dropna(subset=['EventDate'])


print(df_ntsb.head())

print("\n--- DataFrame Info ---")
df_ntsb.info()

--- NTSB JSON loaded: 22992 total records found ---

--- Flattened NTSB DataFrame (including Vehicles info): ---
   Vehicles.VehicleNumber Vehicles.DamageLevel Vehicles.ExplosionType  \
0                       1          substantial                   none
1                       1          substantial                   none
2                       1          substantial                   none
3                       1          substantial                   none
4                       1          substantial                   none

  Vehicles.FireType Vehicles.SerialNumber       Vehicles.Make Vehicles.Model  \
0              none                  0702  cirrus design corp          sr22t
1              none                 004ce   golden avio s r l       f30 brio
2              none               4692139  piper aircraft inc     pa46r-350t
3              none              79-30941            bellanca         17-30a
4              none                 7452c               maule        m-6-235

   Vehicles.NumberOfEngines Vehicles.RegistrationNumber  \
0                       1.0                      n773gb
1                       1.0                       n37ga
2                       1.0                      n539ma
3                       1.0                      n678mj
4                       1.0                       n71ms

  Vehicles.FlightOperationType  ...           EventDate State  Agency  \
0                         pers  ... 2023-12-31 17:40:00    ia    ntsb
1                         pers  ... 2023-12-31 16:13:00    va    ntsb
2                         pers  ... 2023-12-31 14:13:00    nc    ntsb
3                         pers  ... 2023-12-30 17:00:00    mo    ntsb
4                         aobv  ... 2023-12-29 16:27:00    tx    ntsb

  EventType AirportId          AirportName AccidentSiteCondition   Latitude  \
0       acc       dvn                 None                   vmc  41.610278
1       acc       hwy   warrenton/fauquier                   vmc  38.586285
2       acc       14a  lake norman airpark                   vmc  35.624637
3       acc       fyg  washington regional                   vmc  38.587583
4       acc       bpt     jack brooks rgnl                   vmc  30.070603

   Longitude TotalInjuryCount
0 -90.588361                0
1 -77.710631                0
2 -80.912255                1
3 -90.993806                1
4 -94.215837                0

[5 rows x 28 columns]

--- DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23403 entries, 0 to 23402
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Vehicles.VehicleNumber        23403 non-null  int64
 1   Vehicles.DamageLevel          23400 non-null  object
 2   Vehicles.ExplosionType        21880 non-null  object
 3   Vehicles.FireType             23321 non-null  object
 4   Vehicles.SerialNumber         23283 non-null  object
 5   Vehicles.Make                 23402 non-null  object
 6   Vehicles.Model                23398 non-null  object
 7   Vehicles.NumberOfEngines      22953 non-null  float64
 8   Vehicles.RegistrationNumber   23397 non-null  object
 9   Vehicles.FlightOperationType  21593 non-null  object
 10  Vehicles.OperatorName         11290 non-null  object
 11  Oid                           23403 non-null  object
 12  MKey                          23403 non-null  int64
 13  HighestInjury                 23307 non-null  object
 14  NtsbNumber                    23403 non-null  object
 15  ProbableCause                 23205 non-null  object
 16  City                          23403 non-null  object
 17  Country                       23403 non-null  object
 18  EventDate                     23403 non-null  datetime64[ns]
 19  State                         23356 non-null  object
 20  Agency                        22495 non-null  object
 21  EventType                     23403 non-null  object
 22  AirportId                     17179 non-null  object
 23  AirportName                   17208 non-null  object
 24  AccidentSiteCondition         23292 non-null  object
 25  Latitude                      23107 non-null  float64
 26  Longitude                     23106 non-null  float64
 27  TotalInjuryCount              23403 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(21)
memory usage: 5.0+ MB

## Data cleaning
1. Load the `.csv` and `.json` dataset;
2. Drop the rows that do not contains required data
3. Fill the `na` cells with a predefined value
4. Drop eventualy doplicates
5. Convert the string data into the proper data type

In [ ]:
PATH = 'data_sources'

# Load dataset into pandas dataframe
df_airline_traffic = pd.read_csv(f'{PATH}/u-s-airline-traffic-data.csv')
df_ntsb = pd.read_json(f'{PATH}/ntsb-us-2003-2023.json')

print('Check NA values presence before data validation')
print(f'Airline traffic data frame: {df_airline_traffic.isna().any().any()}')
print(f'NTSB data frame: {df_ntsb.isna().any().any()}')



print(df_ntsb.columns.tolist())
#print(df_ntsb.describe())  # Summary statistics
print(df_ntsb.info())  # Data types and missing values
#print(df_ntsb.isnull().sum())  # Check missing values

df_ntsb

Check NA values presence before data validation
Airline traffic data frame: False
NTSB data frame: True
['Oid', 'MKey', 'HighestInjury', 'NtsbNumber', 'ProbableCause', 'City', 'Country', 'EventDate', 'State', 'Agency', 'EventType', 'Vehicles', 'AirportId', 'AirportName', 'AccidentSiteCondition', 'Latitude', 'Longitude', 'TotalInjuryCount']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22992 entries, 0 to 22991
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Oid                    22992 non-null  object
 1   MKey                   22992 non-null  int64
 2   HighestInjury          22908 non-null  object
 3   NtsbNumber             22992 non-null  object
 4   ProbableCause          22800 non-null  object
 5   City                   22992 non-null  object
 6   Country                22992 non-null  object
 7   EventDate              22992 non-null  datetime64[ns]
 8   State                  22946 non-null  object
 9   Agency                 22085 non-null  object
 10  EventType              22992 non-null  object
 11  Vehicles               22992 non-null  object
 12  AirportId              16839 non-null  object
 13  AirportName            16867 non-null  object
 14  AccidentSiteCondition  22889 non-null  object
 15  Latitude               22703 non-null  float64
 16  Longitude              22702 non-null  float64
 17  TotalInjuryCount       22992 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(13)
memory usage: 3.2+ MB
None

,Oid,MKey,HighestInjury,NtsbNumber,ProbableCause,City,Country,EventDate,State,Agency,EventType,Vehicles,AirportId,AirportName,AccidentSiteCondition,Latitude,Longitude,TotalInjuryCount
0,67ee2dab017de3d12ee0378c,193595,none,cen24la079,None,davenport,usa,2023-12-31 17:40:00,ia,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Substant...",dvn,None,vmc,41.610278,-90.588361,0
1,67ee2dab017de3d12ee03793,193603,none,era24la084,the pilot’s improper recovery from a bounced l...,midland,usa,2023-12-31 16:13:00,va,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Substant...",hwy,warrenton/fauquier,vmc,38.586285,-77.710631,0
2,67ee2dab017de3d12ee0377f,193581,fatal,era24fa078,None,mooresville,usa,2023-12-31 14:13:00,nc,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Substant...",14a,lake norman airpark,vmc,35.624637,-80.912255,1
3,67ee2dab017de3d12ee03783,193585,serious,cen24la077,None,washington,usa,2023-12-30 17:00:00,mo,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Substant...",fyg,washington regional,vmc,38.587583,-90.993806,1
4,67ee2dab017de3d12ee03794,193605,none,cen24la081,the pilot’s failure to maintain directional co...,beaumont,usa,2023-12-29 16:27:00,tx,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Substant...",bpt,jack brooks rgnl,vmc,30.070603,-94.215837,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22987,67ee2d86017de3d12edf9ae9,56292,none,chi03la045,failure of the pilot-in-command to maintain di...,alton,usa,2003-01-03 13:00:00,il,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Substant...",aln,st louis regional,vmc,38.890277,-90.046112,0
22988,67ee2d86017de3d12edf9b2f,56373,none,mia03la044,the loss of engine power for undetermined reas...,jessup,usa,2003-01-03 10:12:00,ga,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Substant...",None,None,vmc,31.431667,-81.819999,0
22989,67ee2d86017de3d12edf9ad1,56264,fatal,ftw03fa071,the pilot's failure to maintain adequate airsp...,shreveport,usa,2003-01-02 14:46:00,la,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Destroye...",kdtn,shreveport downtown airport,vmc,32.593055,-93.765556,2
22990,67ee2d86017de3d12edf9acf,56260,serious,den03la027,the inadequate altitude chosen by the flight i...,milford,usa,2003-01-01 23:00:00,ut,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Destroye...",None,None,vmc,38.283332,-112.900001,2
22991,67ee2d86017de3d12edf9adb,56275,fatal,lax03fa057,a loss power in the right engine due to an exc...,tucson,usa,2003-01-01 13:12:00,az,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Destroye...",ryn,ryan,vmc,32.149410,-110.930953,4

In [ ]:
# Code to filter to the date we want

# Debug: Check min and max dates
print("Earliest Date:", df_ntsb['EventDate'].min())
print("Latest Date:", df_ntsb['EventDate'].max())

# Define the date range (without timezone)
start_date = pd.to_datetime('2003-01-01')
end_date = pd.to_datetime('2023-12-31')

# Filter the dataset
filtered_df = df_ntsb[(df_ntsb['EventDate'] >= start_date) & (df_ntsb['EventDate'] <= end_date) & (df_ntsb['Country'] == 'usa')]
print(filtered_df['State'].tolist())
filtered_df
# Display results
#print(f"Total Records Found: {len(filtered_df)}")
#print(filtered_df[['EventDate', 'HighestInjury', 'Country']].sample(10))  # Show 50 random dates

### open-meteo API call test

In [ ]:
# Define the endpoint
endpoint = "https://archive-api.open-meteo.com/v1/archive"

# Define the parameters
params = {
    "latitude": 41.610278,
    "longitude": -90.588361,
    "start_date": "2023-12-31",
    "end_date": "2023-12-31",
    "hourly": ",".join([
        "temperature_2m",
        "relative_humidity_2m",
        "dew_point_2m",
        "pressure_msl",
        "surface_pressure",
        "precipitation",
        "rain",
        "snowfall",
        "cloud_cover",
        "cloud_cover_low",
        "cloud_cover_mid",
        "cloud_cover_high",
        "wind_speed_10m",
        "wind_speed_100m",
        "wind_direction_10m",
        "wind_direction_100m",
        "wind_gusts_10m",
        "weather_code",
        "snow_depth"
    ]),
    "timezone": "GMT"
}

# Make the request
response = requests.get(endpoint, params=params)

# Check if the request was successful
if response.status_code == 200:
    data = response.json()
    # Process the data as needed
    print(data)
    time_series = data["hourly"]["time"]
    try:
        idx = time_series.index("2023-12-31T17:00")
        selected_data = {k: v[idx] for k, v in data["hourly"].items() if k != "time"}
        print(f"Weather data at 2023-12-31T17:00Z:")
        for key, val in selected_data.items():
            print(f"{key}: {val}")
    except ValueError:
        print("Selected hour not found in response.")
else:
    print(f"Error: {response.status_code}")

{'latitude': 41.581722, 'longitude': -90.64935, 'generationtime_ms': 0.3064870834350586, 'utc_offset_seconds': 0, 'timezone': 'GMT', 'timezone_abbreviation': 'GMT', 'elevation': 228.0, 'hourly_units': {'time': 'iso8601', 'temperature_2m': '°C', 'relative_humidity_2m': '%', 'dew_point_2m': '°C', 'pressure_msl': 'hPa', 'surface_pressure': 'hPa', 'precipitation': 'mm', 'rain': 'mm', 'snowfall': 'cm', 'cloud_cover': '%', 'cloud_cover_low': '%', 'cloud_cover_mid': '%', 'cloud_cover_high': '%', 'wind_speed_10m': 'km/h', 'wind_speed_100m': 'km/h', 'wind_direction_10m': '°', 'wind_direction_100m': '°', 'wind_gusts_10m': 'km/h', 'weather_code': 'wmo code', 'snow_depth': 'm'}, 'hourly': {'time': ['2023-12-31T00:00', '2023-12-31T01:00', '2023-12-31T02:00', '2023-12-31T03:00', '2023-12-31T04:00', '2023-12-31T05:00', '2023-12-31T06:00', '2023-12-31T07:00', '2023-12-31T08:00', '2023-12-31T09:00', '2023-12-31T10:00', '2023-12-31T11:00', '2023-12-31T12:00', '2023-12-31T13:00', '2023-12-31T14:00', '2023-12-31T15:00', '2023-12-31T16:00', '2023-12-31T17:00', '2023-12-31T18:00', '2023-12-31T19:00', '2023-12-31T20:00', '2023-12-31T21:00', '2023-12-31T22:00', '2023-12-31T23:00'], 'temperature_2m': [1.1, -0.6, -1.0, -0.4, -1.3, -1.8, -2.2, -2.7, -2.7, -2.9, -3.2, -3.1, -2.9, -2.6, -2.4, -1.6, -0.7, -0.1, 0.6, 1.2, 1.0, 1.1, 0.8, 0.1], 'relative_humidity_2m': [85, 89, 89, 80, 71, 69, 70, 74, 73, 71, 72, 76, 78, 77, 77, 74, 70, 73, 74, 73, 72, 68, 67, 70], 'dew_point_2m': [-1.1, -2.2, -2.6, -3.5, -5.8, -6.7, -6.8, -6.7, -6.9, -7.4, -7.5, -6.8, -6.2, -6.1, -5.8, -5.7, -5.6, -4.4, -3.4, -3.1, -3.5, -4.2, -4.5, -4.8], 'pressure_msl': [1011.4, 1012.5, 1012.8, 1013.3, 1013.5, 1013.9, 1014.2, 1014.0, 1014.1, 1014.6, 1014.6, 1014.8, 1015.1, 1015.8, 1016.1, 1016.6, 1017.3, 1017.7, 1017.8, 1018.2, 1018.8, 1019.7, 1020.8, 1021.8], 'surface_pressure': [983.2, 984.0, 984.3, 984.8, 984.9, 985.3, 985.5, 985.3, 985.4, 985.9, 985.8, 986.0, 986.3, 987.1, 987.4, 987.9, 988.7, 989.2, 989.3, 989.8, 990.3, 991.2, 992.3, 993.2], 'precipitation': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.3, 0.1, 0.1, 0.0, 0.0, 0.0, 0.0], 'rain': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'snowfall': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.21, 0.07, 0.07, 0.0, 0.0, 0.0, 0.0], 'cloud_cover': [100, 87, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 99, 100, 100, 100, 100, 100, 100, 99, 100], 'cloud_cover_low': [0, 46, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 98, 96, 100, 100, 97, 100, 100, 92, 98, 100], 'cloud_cover_mid': [88, 0, 0, 0, 0, 0, 0, 25, 12, 37, 45, 98, 100, 100, 96, 85, 100, 100, 100, 100, 100, 100, 42, 0], 'cloud_cover_high': [100, 76, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 50, 99, 18, 0, 0, 0, 0, 0, 0], 'wind_speed_10m': [12.0, 11.2, 13.2, 16.6, 17.4, 16.7, 15.8, 16.7, 17.8, 18.1, 18.5, 17.7, 17.4, 16.9, 15.9, 16.8, 18.4, 20.4, 22.6, 25.1, 21.5, 20.1, 18.1, 18.0], 'wind_speed_100m': [26.0, 25.5, 27.7, 27.6, 27.5, 26.1, 25.6, 27.9, 28.5, 28.7, 29.3, 27.5, 27.4, 26.7, 24.8, 23.8, 25.5, 28.0, 31.5, 35.4, 30.8, 29.6, 28.6, 30.1], 'wind_direction_10m': [261, 272, 292, 319, 310, 303, 297, 284, 288, 293, 294, 294, 292, 294, 295, 305, 310, 315, 326, 331, 329, 327, 325, 323], 'wind_direction_100m': [266, 279, 300, 320, 312, 305, 299, 287, 291, 297, 298, 297, 295, 297, 300, 308, 312, 315, 327, 332, 330, 328, 326, 326], 'wind_gusts_10m': [19.1, 19.1, 21.2, 26.6, 29.2, 28.8, 28.1, 27.4, 29.9, 30.2, 31.0, 31.7, 29.5, 28.8, 27.7, 29.2, 32.8, 33.8, 39.6, 44.3, 43.2, 37.1, 33.5, 29.5], 'weather_code': [3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 73, 71, 71, 3, 3, 3, 3], 'snow_depth': [0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02]}}
Weather data at 2023-12-31T17:00Z:
temperature_2m: -0.1
relative_humidity_2m: 73
dew_point_2m: -4.4
pressure_msl: 1017.7
surface_pressure: 989.2
precipitation: 0.3
rain: 0.0
snowfall: 0.21
cloud_cover: 100
cloud_cover_low: 100
cloud_cover_mid: 100
cloud_cover_high: 18
wind_speed_10m: 20.4
wind_speed_100m: 28.0
wind_direction_10m: 315
wind_direction_100m: 315
wind_gusts_10m: 33.8
weather_code: 73
snow_depth: 0.02