## Project Phase 1 - Aviation Accident Data Integration
### Group 03:
- Tommaso Tragno - fc64699
- Manuel Cardoso - fc56274
- Chen Cheng - fc64872
- Cristian Tedesco - fc65149

#### Setup

In [2]:
import pandas as pd
import numpy as np
import json
import os
import requests

### 1. Load NTSB JSON Data

In [19]:
PATH = 'data_sources/'
NTSB_DATA = 'ntsb-us-2003-2023.json'

with open(PATH+NTSB_DATA, 'r', encoding='utf-8') as f:
    ntsb_raw_data = json.load(f)

# Each record is one accident/incident entry in a list
print(f'\n--- NTSB JSON loaded: {len(ntsb_raw_data)} total records found ---')

# Convert to a DataFrame (this will flatten top-level fields)
# For nested fields like 'Vehicles', we might do a separate flatten later
df_ntsb = pd.json_normalize(ntsb_raw_data, 
                            meta=[
                                'Oid','MKey','Closed','CompletionStatus','HasSafetyRec',
                                'HighestInjury','IsStudy','Mode','NtsbNumber',
                                'OriginalPublishedDate','MostRecentReportType','ProbableCause',
                                'City','Country','EventDate','State','Agency','BoardLaunch',
                                'BoardMeetingDate','DocketDate','EventType','Launch','ReportDate',
                                'ReportNum','ReportType','AirportId','AirportName','AnalysisNarrative',
                                'FactualNarrative','PrelimNarrative','FatalInjuryCount','MinorInjuryCount',
                                'SeriousInjuryCount','InvestigationClass','AccidentSiteCondition',
                                'Latitude','Longitude','DocketOriginalPublishDate'
                            ],
                            record_path=['Vehicles'],  # This flattens out the 'Vehicles' array
                            record_prefix='Vehicles.'
                           )

print('\n--- Flattened NTSB DataFrame (including Vehicles info): ---')

# combines all injury counts to 1 column
df_ntsb['TotalInjuryCount'] = df_ntsb[['FatalInjuryCount', 'MinorInjuryCount', 'SeriousInjuryCount']].sum(axis=1)

# dropping unnecessary columns
df_ntsb.drop(columns=['AnalysisNarrative','FactualNarrative','PrelimNarrative','InvestigationClass','BoardLaunch'
                      ,'BoardMeetingDate','Launch','IsStudy','OriginalPublishedDate','DocketOriginalPublishDate'
                      ,'ReportType','ReportNum','ReportDate','MostRecentReportType','FatalInjuryCount','MinorInjuryCount'
                      ,'SeriousInjuryCount','DocketDate','Mode','HasSafetyRec','CompletionStatus','Closed'
                      ,'Vehicles.AircraftCategory','Vehicles.AmateurBuilt','Vehicles.EventID','Vehicles.AirMedical'
                      ,'Vehicles.AirMedicalType','Vehicles.flightScheduledType','Vehicles.flightServiceType'
                      ,'Vehicles.flightTerminalType','Vehicles.RegisteredOwner','Vehicles.RegulationFlightConductedUnder'
                      ,'Vehicles.RepGenFlag','Vehicles.RevenueSightseeing','Vehicles.SecondPilotPresent','Vehicles.Damage'
                      ,'AccidentSiteCondition'], inplace=True) 

# dropping NaT entries from EventDate
df_ntsb = df_ntsb.dropna(subset=['EventDate'])

# Type Conversion
df_ntsb['EventDate'] = pd.to_datetime(df_ntsb['EventDate']).dt.tz_localize(None)
df_ntsb['Vehicles.VehicleNumber'] = pd.to_numeric(df_ntsb['Vehicles.VehicleNumber'], errors='coerce').astype(int)
df_ntsb['MKey'] = pd.to_numeric(df_ntsb['MKey'], errors='coerce').astype(int)
df_ntsb['Vehicles.NumberOfEngines'] = pd.to_numeric(df_ntsb['Vehicles.NumberOfEngines'], errors='coerce').fillna(0).astype(int)
df_ntsb['Latitude'] = pd.to_numeric(df_ntsb['Latitude'], errors='coerce').astype(float)
df_ntsb['Longitude'] = pd.to_numeric(df_ntsb['Longitude'], errors='coerce').astype(float)
df_ntsb['TotalInjuryCount'] = pd.to_numeric(df_ntsb['TotalInjuryCount'], errors='coerce').astype(int)

categorical_cols = [
    'Vehicles.DamageLevel',
    'Vehicles.ExplosionType',
    'Vehicles.FireType',
    'HighestInjury',
    'EventType',
    'AccidentSiteCondition'
]

for col in categorical_cols:
    if col in df_ntsb.columns:
        df_ntsb[col] = df_ntsb[col].astype('category')

df_ntsb = df_ntsb.map(lambda x: x.lower() if isinstance(x, str) else x) # make all appropriate values lowercase


print(df_ntsb.head())

print('\n--- DataFrame Info ---')
df_ntsb.info()

--- NTSB JSON loaded: 22992 total records found ---

--- Flattened NTSB DataFrame (including Vehicles info): ---
   Vehicles.VehicleNumber Vehicles.DamageLevel Vehicles.ExplosionType  \
0                       1          substantial                   none
1                       1          substantial                   none
2                       1          substantial                   none
3                       1          substantial                   none
4                       1          substantial                   none

  Vehicles.FireType Vehicles.SerialNumber       Vehicles.Make Vehicles.Model  \
0              none                  0702  cirrus design corp          sr22t
1              none                 004ce   golden avio s r l       f30 brio
2              none               4692139  piper aircraft inc     pa46r-350t
3              none              79-30941            bellanca         17-30a
4              none                 7452c               maule        m-6-235

   Vehicles.NumberOfEngines Vehicles.RegistrationNumber  \
0                         1                      n773gb
1                         1                       n37ga
2                         1                      n539ma
3                         1                      n678mj
4                         1                       n71ms

  Vehicles.FlightOperationType    Vehicles.OperatorName  \
0                         pers                  jkc llc
1                         pers                     None
2                         pers         rtm aviation llc
3                         pers                piasa llc
4                         aobv  taf aerial services llc

                        Oid    MKey HighestInjury  NtsbNumber  \
0  67ee2dab017de3d12ee0378c  193595          none  cen24la079
1  67ee2dab017de3d12ee03793  193603          none  era24la084
2  67ee2dab017de3d12ee0377f  193581         fatal  era24fa078
3  67ee2dab017de3d12ee03783  193585       serious  cen24la077
4  67ee2dab017de3d12ee03794  193605          none  cen24la081

                                       ProbableCause         City Country  \
0                                               None    davenport     usa
1  the pilot’s improper recovery from a bounced l...      midland     usa
2                                               None  mooresville     usa
3                                               None   washington     usa
4  the pilot’s failure to maintain directional co...     beaumont     usa

            EventDate State Agency EventType AirportId          AirportName  \
0 2023-12-31 17:40:00    ia   ntsb       acc       dvn                 None
1 2023-12-31 16:13:00    va   ntsb       acc       hwy   warrenton/fauquier
2 2023-12-31 14:13:00    nc   ntsb       acc       14a  lake norman airpark
3 2023-12-30 17:00:00    mo   ntsb       acc       fyg  washington regional
4 2023-12-29 16:27:00    tx   ntsb       acc       bpt     jack brooks rgnl

    Latitude  Longitude  TotalInjuryCount
0  41.610278 -90.588361                 0
1  38.586285 -77.710631                 0
2  35.624637 -80.912255                 1
3  38.587583 -90.993806                 1
4  30.070603 -94.215837                 0

--- DataFrame Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23403 entries, 0 to 23402
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Vehicles.VehicleNumber        23403 non-null  int64
 1   Vehicles.DamageLevel          23400 non-null  category
 2   Vehicles.ExplosionType        21880 non-null  category
 3   Vehicles.FireType             23321 non-null  category
 4   Vehicles.SerialNumber         23283 non-null  object
 5   Vehicles.Make                 23402 non-null  object
 6   Vehicles.Model                23398 non-null  object
 7   Vehicles.NumberOfEngines      23403 non-null  int64
 8   Vehicles.RegistrationNumber   23397 non-null  object
 9   Vehicles.FlightOperationType  21593 non-null  object
 10  Vehicles.OperatorName         11290 non-null  object
 11  Oid                           23403 non-null  object
 12  MKey                          23403 non-null  int64
 13  HighestInjury                 23307 non-null  category
 14  NtsbNumber                    23403 non-null  object
 15  ProbableCause                 23205 non-null  object
 16  City                          23403 non-null  object
 17  Country                       23403 non-null  object
 18  EventDate                     23403 non-null  datetime64[ns]
 19  State                         23356 non-null  object
 20  Agency                        22495 non-null  object
 21  EventType                     23403 non-null  category
 22  AirportId                     17179 non-null  object
 23  AirportName                   17208 non-null  object
 24  Latitude                      23107 non-null  float64
 25  Longitude                     23106 non-null  float64
 26  TotalInjuryCount              23403 non-null  int64
dtypes: category(5), datetime64[ns](1), float64(2), int64(4), object(15)
memory usage: 4.0+ MB

### 2. Data Profiling

In [ ]:
def profile_dataframe(df, name='DataFrame'):
    print(f'\n=== Profiling {name} ===')
    print(f'Total Rows: {len(df)}')
    print(f'Total Columns: {len(df.columns)}\n')
    
    # Basic stats: cardinality, missing, data type
    profile_results = []
    for col in df.columns:
        unique_vals = df[col].nunique(dropna=False)
        missing_vals = df[col].isna().sum()
        dtype_ = str(df[col].dtype)
        profile_results.append(
            (col, dtype_, unique_vals, missing_vals)
        )
    prof_df = pd.DataFrame(
        profile_results,
        columns=['Column', 'DataType', 'Cardinality', 'NumMissing']
    )
    return prof_df

ntsb_profile = profile_dataframe(df_ntsb, name='NTSB Data')
print(ntsb_profile)

=== Profiling NTSB Data ===
Total Rows: 23403
Total Columns: 27

                          Column        DataType  Cardinality  NumMissing
0         Vehicles.VehicleNumber           int64            3           0
1           Vehicles.DamageLevel        category            6           3
2         Vehicles.ExplosionType        category            6        1523
3              Vehicles.FireType        category            7          82
4          Vehicles.SerialNumber          object        21514         120
5                  Vehicles.Make          object         1098           1
6                 Vehicles.Model          object         3362           5
7       Vehicles.NumberOfEngines           int64            5           0
8    Vehicles.RegistrationNumber          object        22386           6
9   Vehicles.FlightOperationType          object           22        1810
10         Vehicles.OperatorName          object         9289       12113
11                           Oid          object        22992           0
12                          MKey           int64        22992           0
13                 HighestInjury        category            5          96
14                    NtsbNumber          object        22992           0
15                 ProbableCause          object        20890         198
16                          City          object         6092           0
17                       Country          object            1           0
18                     EventDate  datetime64[ns]        22717           0
19                         State          object           58          47
20                        Agency          object            3         908
21                     EventType        category            3           0
22                     AirportId          object         5359        6224
23                   AirportName          object         8774        6195
24                      Latitude         float64        17297         296
25                     Longitude         float64        18108         297
26              TotalInjuryCount           int64           33           0

In [24]:
df_ntsb.describe(include='all')

,Vehicles.VehicleNumber,Vehicles.DamageLevel,Vehicles.ExplosionType,Vehicles.FireType,Vehicles.SerialNumber,Vehicles.Make,Vehicles.Model,Vehicles.NumberOfEngines,Vehicles.RegistrationNumber,Vehicles.FlightOperationType,Vehicles.OperatorName,Oid,MKey,HighestInjury,NtsbNumber,ProbableCause,City,Country,EventDate,State,Agency,EventType,AirportId,AirportName,Latitude,Longitude,TotalInjuryCount
count,23403.000000,23400,21880,23321,23283,23402,23398,23403.000000,23397,21593,11290,23403,23403.000000,23307,23403,23205,23403,23403,23403,23356,22495,23403,17179,17208,2.310700e+04,2.310600e+04,23403.000000
unique,NaN,5,5,6,21513,1097,3361,NaN,22385,21,9288,22992,NaN,4,22992,20889,6092,1,NaN,57,2,3,5358,8773,NaN,NaN,NaN
top,NaN,substantial,none,none,001,cessna,172,NaN,unreg,pers,pilot,67ee2d96017de3d12edfdd84,NaN,none,cen10fa115,a loss of engine power for undetermined reasons.,anchorage,usa,NaN,ca,ntsb,acc,none,private,NaN,NaN,NaN
freq,NaN,19718,21306,20993,19,8191,762,NaN,27,14516,176,3,NaN,13920,3,77,161,23403,NaN,2244,22459,22679,333,187,NaN,NaN,NaN
mean,1.018117,NaN,NaN,NaN,NaN,NaN,NaN,1.138230,NaN,NaN,NaN,NaN,84032.497543,NaN,NaN,NaN,NaN,NaN,2012-08-07 07:34:48.078451456,NaN,NaN,NaN,NaN,NaN,1.941001e+03,-2.642090e+02,0.763706
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,56260.000000,NaN,NaN,NaN,NaN,NaN,2003-01-01 13:12:00,NaN,NaN,NaN,NaN,NaN,1.329278e+01,-1.004241e+06,0.000000
25%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,65775.500000,NaN,NaN,NaN,NaN,NaN,2007-05-06 02:55:00,NaN,NaN,NaN,NaN,NaN,3.381167e+01,-1.153719e+02,0.000000
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,82662.000000,NaN,NaN,NaN,NaN,NaN,2011-12-31 12:11:00,NaN,NaN,NaN,NaN,NaN,3.860833e+01,-9.567028e+01,0.000000
75%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,96128.000000,NaN,NaN,NaN,NaN,NaN,2017-09-27 07:47:30,NaN,NaN,NaN,NaN,NaN,4.265556e+01,-8.305994e+01,1.000000
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,195527.000000,NaN,NaN,NaN,NaN,NaN,2023-12-31 17:40:00,NaN,NaN,NaN,NaN,NaN,4.351118e+07,1.741242e+02,190.000000
std,0.135603,NaN,NaN,NaN,NaN,NaN,NaN,0.422117,NaN,NaN,NaN,NaN,24022.367723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.862505e+05,1.245774e+04,2.219392

In [22]:
df_ntsb.loc[df_ntsb['NtsbNumber']=='ops24la011']

,Vehicles.VehicleNumber,Vehicles.DamageLevel,Vehicles.ExplosionType,Vehicles.FireType,Vehicles.SerialNumber,Vehicles.Make,Vehicles.Model,Vehicles.NumberOfEngines,Vehicles.RegistrationNumber,Vehicles.FlightOperationType,Vehicles.OperatorName,Oid,MKey,HighestInjury,NtsbNumber,ProbableCause,City,Country,EventDate,State,Agency,EventType,AirportId,AirportName,Latitude,Longitude,TotalInjuryCount
39,1,none,none,none,c0218,diamond aircraft ind inc,da20-c1,1,n857pa,None,diamond aircraft sales of kentucky llc,67ee2dab017de3d12ee03758,193529,NaN,ops24la011,None,north las vegas,usa,2023-12-09 13:06:00,nv,ntsb,occ,vgt,north las vegas,36.211268,-115.19968,0
40,2,none,none,none,1955,robinson helicopter,r44,1,n744af,None,skyline helicopter tours llc,67ee2dab017de3d12ee03758,193529,NaN,ops24la011,None,north las vegas,usa,2023-12-09 13:06:00,nv,ntsb,occ,vgt,north las vegas,36.211268,-115.19968,0

In [ ]:
for _ wehfiher:
    if null:
     pass

SyntaxError: invalid syntax (620194965.py, line 1)

## Data cleaning
1. Load the `.csv` and `.json` dataset;
2. Drop the rows that do not contains required data
3. Fill the `na` cells with a predefined value
4. Drop eventualy doplicates
5. Convert the string data into the proper data type

In [ ]:
PATH = 'data_sources'

# Load dataset into pandas dataframe
df_airline_traffic = pd.read_csv(f'{PATH}/u-s-airline-traffic-data.csv')
df_ntsb = pd.read_json(f'{PATH}/ntsb-us-2003-2023.json')

print('Check NA values presence before data validation')
print(f'Airline traffic data frame: {df_airline_traffic.isna().any().any()}')
print(f'NTSB data frame: {df_ntsb.isna().any().any()}')



print(df_ntsb.columns.tolist())
#print(df_ntsb.describe())  # Summary statistics
print(df_ntsb.info())  # Data types and missing values
#print(df_ntsb.isnull().sum())  # Check missing values

df_ntsb

Check NA values presence before data validation
Airline traffic data frame: False
NTSB data frame: True
['Oid', 'MKey', 'HighestInjury', 'NtsbNumber', 'ProbableCause', 'City', 'Country', 'EventDate', 'State', 'Agency', 'EventType', 'Vehicles', 'AirportId', 'AirportName', 'AccidentSiteCondition', 'Latitude', 'Longitude', 'TotalInjuryCount']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22992 entries, 0 to 22991
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Oid                    22992 non-null  object
 1   MKey                   22992 non-null  int64
 2   HighestInjury          22908 non-null  object
 3   NtsbNumber             22992 non-null  object
 4   ProbableCause          22800 non-null  object
 5   City                   22992 non-null  object
 6   Country                22992 non-null  object
 7   EventDate              22992 non-null  datetime64[ns]
 8   State                  22946 non-null  object
 9   Agency                 22085 non-null  object
 10  EventType              22992 non-null  object
 11  Vehicles               22992 non-null  object
 12  AirportId              16839 non-null  object
 13  AirportName            16867 non-null  object
 14  AccidentSiteCondition  22889 non-null  object
 15  Latitude               22703 non-null  float64
 16  Longitude              22702 non-null  float64
 17  TotalInjuryCount       22992 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(13)
memory usage: 3.2+ MB
None

,Oid,MKey,HighestInjury,NtsbNumber,ProbableCause,City,Country,EventDate,State,Agency,EventType,Vehicles,AirportId,AirportName,AccidentSiteCondition,Latitude,Longitude,TotalInjuryCount
0,67ee2dab017de3d12ee0378c,193595,none,cen24la079,None,davenport,usa,2023-12-31 17:40:00,ia,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Substant...",dvn,None,vmc,41.610278,-90.588361,0
1,67ee2dab017de3d12ee03793,193603,none,era24la084,the pilot’s improper recovery from a bounced l...,midland,usa,2023-12-31 16:13:00,va,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Substant...",hwy,warrenton/fauquier,vmc,38.586285,-77.710631,0
2,67ee2dab017de3d12ee0377f,193581,fatal,era24fa078,None,mooresville,usa,2023-12-31 14:13:00,nc,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Substant...",14a,lake norman airpark,vmc,35.624637,-80.912255,1
3,67ee2dab017de3d12ee03783,193585,serious,cen24la077,None,washington,usa,2023-12-30 17:00:00,mo,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Substant...",fyg,washington regional,vmc,38.587583,-90.993806,1
4,67ee2dab017de3d12ee03794,193605,none,cen24la081,the pilot’s failure to maintain directional co...,beaumont,usa,2023-12-29 16:27:00,tx,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Substant...",bpt,jack brooks rgnl,vmc,30.070603,-94.215837,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22987,67ee2d86017de3d12edf9ae9,56292,none,chi03la045,failure of the pilot-in-command to maintain di...,alton,usa,2003-01-03 13:00:00,il,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Substant...",aln,st louis regional,vmc,38.890277,-90.046112,0
22988,67ee2d86017de3d12edf9b2f,56373,none,mia03la044,the loss of engine power for undetermined reas...,jessup,usa,2003-01-03 10:12:00,ga,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Substant...",None,None,vmc,31.431667,-81.819999,0
22989,67ee2d86017de3d12edf9ad1,56264,fatal,ftw03fa071,the pilot's failure to maintain adequate airsp...,shreveport,usa,2003-01-02 14:46:00,la,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Destroye...",kdtn,shreveport downtown airport,vmc,32.593055,-93.765556,2
22990,67ee2d86017de3d12edf9acf,56260,serious,den03la027,the inadequate altitude chosen by the flight i...,milford,usa,2003-01-01 23:00:00,ut,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Destroye...",None,None,vmc,38.283332,-112.900001,2
22991,67ee2d86017de3d12edf9adb,56275,fatal,lax03fa057,a loss power in the right engine due to an exc...,tucson,usa,2003-01-01 13:12:00,az,ntsb,acc,"[{'VehicleNumber': 1, 'DamageLevel': 'Destroye...",ryn,ryan,vmc,32.149410,-110.930953,4

In [ ]:
# Code to filter to the date we want

# Debug: Check min and max dates
print('Earliest Date:', df_ntsb['EventDate'].min())
print('Latest Date:', df_ntsb['EventDate'].max())

# Define the date range (without timezone)
start_date = pd.to_datetime('2003-01-01')
end_date = pd.to_datetime('2023-12-31')

# Filter the dataset
filtered_df = df_ntsb[(df_ntsb['EventDate'] >= start_date) & (df_ntsb['EventDate'] <= end_date) & (df_ntsb['Country'] == 'usa')]
print(filtered_df['State'].tolist())
filtered_df
# Display results
#print(f'Total Records Found: {len(filtered_df)}')
#print(filtered_df[['EventDate', 'HighestInjury', 'Country']].sample(10))  # Show 50 random dates

### open-meteo API call test

In [ ]:
# Define the endpoint
endpoint = 'https://archive-api.open-meteo.com/v1/archive'

# Define the parameters
params = {
    'latitude': 41.610278,
    'longitude': -90.588361,
    'start_date': '2023-12-31',
    'end_date': '2023-12-31',
    'hourly': ','.join([
        'temperature_2m',
        'relative_humidity_2m',
        'dew_point_2m',
        'pressure_msl',
        'surface_pressure',
        'precipitation',
        'rain',
        'snowfall',
        'cloud_cover',
        'cloud_cover_low',
        'cloud_cover_mid',
        'cloud_cover_high',
        'wind_speed_10m',
        'wind_speed_100m',
        'wind_direction_10m',
        'wind_direction_100m',
        'wind_gusts_10m',
        'weather_code',
        'snow_depth'
    ]),
    'timezone': 'GMT'
}

# Make the request
response = requests.get(endpoint, params=params)

# Check if the request was successful
if response.status_code == 200:
    data = response.json()
    # Process the data as needed
    print(data)
    time_series = data['hourly']['time']
    try:
        idx = time_series.index('2023-12-31T17:00')
        selected_data = {k: v[idx] for k, v in data['hourly'].items() if k != 'time'}
        print(f'Weather data at 2023-12-31T17:00Z:')
        for key, val in selected_data.items():
            print(f'{key}: {val}')
    except ValueError:
        print('Selected hour not found in response.')
else:
    print(f'Error: {response.status_code}')

{'latitude': 41.581722, 'longitude': -90.64935, 'generationtime_ms': 0.3064870834350586, 'utc_offset_seconds': 0, 'timezone': 'GMT', 'timezone_abbreviation': 'GMT', 'elevation': 228.0, 'hourly_units': {'time': 'iso8601', 'temperature_2m': '°C', 'relative_humidity_2m': '%', 'dew_point_2m': '°C', 'pressure_msl': 'hPa', 'surface_pressure': 'hPa', 'precipitation': 'mm', 'rain': 'mm', 'snowfall': 'cm', 'cloud_cover': '%', 'cloud_cover_low': '%', 'cloud_cover_mid': '%', 'cloud_cover_high': '%', 'wind_speed_10m': 'km/h', 'wind_speed_100m': 'km/h', 'wind_direction_10m': '°', 'wind_direction_100m': '°', 'wind_gusts_10m': 'km/h', 'weather_code': 'wmo code', 'snow_depth': 'm'}, 'hourly': {'time': ['2023-12-31T00:00', '2023-12-31T01:00', '2023-12-31T02:00', '2023-12-31T03:00', '2023-12-31T04:00', '2023-12-31T05:00', '2023-12-31T06:00', '2023-12-31T07:00', '2023-12-31T08:00', '2023-12-31T09:00', '2023-12-31T10:00', '2023-12-31T11:00', '2023-12-31T12:00', '2023-12-31T13:00', '2023-12-31T14:00', '2023-12-31T15:00', '2023-12-31T16:00', '2023-12-31T17:00', '2023-12-31T18:00', '2023-12-31T19:00', '2023-12-31T20:00', '2023-12-31T21:00', '2023-12-31T22:00', '2023-12-31T23:00'], 'temperature_2m': [1.1, -0.6, -1.0, -0.4, -1.3, -1.8, -2.2, -2.7, -2.7, -2.9, -3.2, -3.1, -2.9, -2.6, -2.4, -1.6, -0.7, -0.1, 0.6, 1.2, 1.0, 1.1, 0.8, 0.1], 'relative_humidity_2m': [85, 89, 89, 80, 71, 69, 70, 74, 73, 71, 72, 76, 78, 77, 77, 74, 70, 73, 74, 73, 72, 68, 67, 70], 'dew_point_2m': [-1.1, -2.2, -2.6, -3.5, -5.8, -6.7, -6.8, -6.7, -6.9, -7.4, -7.5, -6.8, -6.2, -6.1, -5.8, -5.7, -5.6, -4.4, -3.4, -3.1, -3.5, -4.2, -4.5, -4.8], 'pressure_msl': [1011.4, 1012.5, 1012.8, 1013.3, 1013.5, 1013.9, 1014.2, 1014.0, 1014.1, 1014.6, 1014.6, 1014.8, 1015.1, 1015.8, 1016.1, 1016.6, 1017.3, 1017.7, 1017.8, 1018.2, 1018.8, 1019.7, 1020.8, 1021.8], 'surface_pressure': [983.2, 984.0, 984.3, 984.8, 984.9, 985.3, 985.5, 985.3, 985.4, 985.9, 985.8, 986.0, 986.3, 987.1, 987.4, 987.9, 988.7, 989.2, 989.3, 989.8, 990.3, 991.2, 992.3, 993.2], 'precipitation': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.3, 0.1, 0.1, 0.0, 0.0, 0.0, 0.0], 'rain': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'snowfall': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.21, 0.07, 0.07, 0.0, 0.0, 0.0, 0.0], 'cloud_cover': [100, 87, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 99, 100, 100, 100, 100, 100, 100, 99, 100], 'cloud_cover_low': [0, 46, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 98, 96, 100, 100, 97, 100, 100, 92, 98, 100], 'cloud_cover_mid': [88, 0, 0, 0, 0, 0, 0, 25, 12, 37, 45, 98, 100, 100, 96, 85, 100, 100, 100, 100, 100, 100, 42, 0], 'cloud_cover_high': [100, 76, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 50, 99, 18, 0, 0, 0, 0, 0, 0], 'wind_speed_10m': [12.0, 11.2, 13.2, 16.6, 17.4, 16.7, 15.8, 16.7, 17.8, 18.1, 18.5, 17.7, 17.4, 16.9, 15.9, 16.8, 18.4, 20.4, 22.6, 25.1, 21.5, 20.1, 18.1, 18.0], 'wind_speed_100m': [26.0, 25.5, 27.7, 27.6, 27.5, 26.1, 25.6, 27.9, 28.5, 28.7, 29.3, 27.5, 27.4, 26.7, 24.8, 23.8, 25.5, 28.0, 31.5, 35.4, 30.8, 29.6, 28.6, 30.1], 'wind_direction_10m': [261, 272, 292, 319, 310, 303, 297, 284, 288, 293, 294, 294, 292, 294, 295, 305, 310, 315, 326, 331, 329, 327, 325, 323], 'wind_direction_100m': [266, 279, 300, 320, 312, 305, 299, 287, 291, 297, 298, 297, 295, 297, 300, 308, 312, 315, 327, 332, 330, 328, 326, 326], 'wind_gusts_10m': [19.1, 19.1, 21.2, 26.6, 29.2, 28.8, 28.1, 27.4, 29.9, 30.2, 31.0, 31.7, 29.5, 28.8, 27.7, 29.2, 32.8, 33.8, 39.6, 44.3, 43.2, 37.1, 33.5, 29.5], 'weather_code': [3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 73, 71, 71, 3, 3, 3, 3], 'snow_depth': [0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02]}}
Weather data at 2023-12-31T17:00Z:
temperature_2m: -0.1
relative_humidity_2m: 73
dew_point_2m: -4.4
pressure_msl: 1017.7
surface_pressure: 989.2
precipitation: 0.3
rain: 0.0
snowfall: 0.21
cloud_cover: 100
cloud_cover_low: 100
cloud_cover_mid: 100
cloud_cover_high: 18
wind_speed_10m: 20.4
wind_speed_100m: 28.0
wind_direction_10m: 315
wind_direction_100m: 315
wind_gusts_10m: 33.8
weather_code: 73
snow_depth: 0.02